<h1 class="container-fluid title">Update Task</h1>

<div class="col-md-12 task">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <mat-card class="col-md-12 card">
      <form [formGroup]="todoForm">
        <mat-form-field appearance="outline">
          <mat-label>Task Title requireted</mat-label>
          <input formControlName="title" matInput placeholder="Título" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description Task requireted</mat-label>
          <input formControlName="description" matInput placeholder="Descrição da Tarefa" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date Completion Task requireted</mat-label>
          <input type="date" formControlName="dateCompletion" matInput placeholder="Descrição da Tarefa" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category Tasks</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <a class="link" [routerLink]="['']" mat-raised-button color="warn">
          Cancele
        </a>

        <button class="button" (click)="updateTask()" mat-raised-button
          [disabled]="todoForm.invalid" color="primary">
          Update
        </button>

      </form>
    </mat-card>
  </div>
</div>
