<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 task">
      <div>
        <mat-card class="mt-3">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task Title requireted</mat-label>
              <input formControlName="title" matInput placeholder="Título" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Description Task requireted</mat-label>
              <input formControlName="description" matInput placeholder="Descrição da Tarefa" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Date Completion Task requireted</mat-label>
              <input type="date" formControlName="dateCompletion" matInput placeholder="Descrição da Tarefa" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Category Tasks</mat-label>
              <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{ category.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid"
              color="primary">
              Add
            </button>

            <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid"
              color="primary">
              Update
            </button>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="col-md-9 mt-3">

      <div cdkDropListGroup>
        <div class="row">
          <!-- Task Easy -->
          <div class="col-md-6">
            <div class="container">
              <h2 class="head-title">
                Task Easy
                <span *ngIf="tasks.length > 0"> - {{ tasks.length }}</span>
              </h2>

              <div cdkDropList [cdkDropListData]="tasks" class="list" (cdkDropListDropped)="drop($event)">
                <div class="bigger-box" *ngFor="let task of tasks" cdkDrag>
                  <div class="box" *ngIf="task.category == 1">
                    <b>Título: </b> {{ task.title }} <b>Descrição: </b>
                    {{ task.description }} <b>Data de Conclusão: </b>
                    {{ task.dateCompletion }}
                  </div>

                  <div class="box" *ngIf="task.category == 1">
                    <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="editTask(task, task.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Difficult-->
        <div class="col-md-6">
          <div class="container">
            <h2 class="head-title">
              Task Difficult
              <span *ngIf="tasksDifficult.length > 0">
                - {{ tasksDifficult.length }}</span>
            </h2>

            <div cdkDropList [cdkDropListData]="tasksDifficult" class="list" (cdkDropListDropped)="drop($event)">
              <div class="bigger-box" *ngFor="let task of tasksDifficult; let i = index" cdkDrag>
                <div class="box" *ngIf="task.category == 2">
                  <b>Título:</b> {{ task.title }} <b>Descrição:</b>
                  {{ task.description }} <b>Data de Conclusão:</b>
                  {{ task.dateCompletion }}
                </div>
                <div class="box" *ngIf="task.category == 2">
                  <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="editTask(task, task.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Urgent-->
        <div class="col-md-6">
          <div class="container">
            <h2 class="head-title">
              Task Urgent
              <span *ngIf="tasksUrgent.length > 0">
                - {{ tasksUrgent.length }}</span>
            </h2>

            <div cdkDropList [cdkDropListData]="tasksUrgent" class="list" (cdkDropListDropped)="drop($event)">
              <div class="bigger-box" *ngFor="let task of tasksUrgent; let i = index" cdkDrag>
                <div class="box" *ngIf="task.category == 3">
                  <b>Título:</b> {{ task.title }} <b>Descrição:</b>
                  {{ task.description }} <b>Data de Conclusão:</b>
                  {{ task.dateCompletion }}
                </div>

                <div class="box" *ngIf="task.category == 3">
                  <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="editTask(task, task.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Priority-->
        <div class="col-md-6">
          <div class="container">
            <h2 class="head-title">
              Task Priority
              <span *ngIf="tasksPriority.length > 0">
                - {{ tasksPriority.length }}</span>
            </h2>

            <div cdkDropList [cdkDropListData]="tasksPriority" class="list" (cdkDropListDropped)="drop($event)">
              <div class="bigger-box" *ngFor="let task of tasksPriority; let i = index" cdkDrag>
                <div class="box" *ngIf="task.category == 4">
                  <b>Título:</b> {{ task.title }} <b>Descrição:</b>
                  {{ task.description }} <b>Data de Conclusão:</b>
                  {{ task.dateCompletion }}
                </div>
                <div class="box" *ngIf="task.category == 4">
                  <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="editTask(task, task.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- done -->
        <div class="col-md-6">
          <div class="container">
            <h2 class="head-title">
              Done <span *ngIf="done.length > 0"> - {{ done.length }}</span>
            </h2>

            <div cdkDropList [cdkDropListData]="done" class="list" (cdkDropListDropped)="drop($event)">
              <div class="bigger-box" *ngFor="let task of done" cdkDrag>
                <b>Título:</b> {{ task.title }} <b>Descrição:</b>
                {{ task.description }} <b>Data de Conclusão:</b>
                {{ task.dateCompletion }}
                <div class="box">
                  <button mat-icon-button color="accent">
                    <mat-icon>check_circle</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
