<div class="col-md-3 task">
  <div>
    <mat-card class="mt-3">
      <form [formGroup]="todoForm">
        <mat-form-field appearance="outline">
          <mat-label>Task Title requireted</mat-label>
          <input formControlName="title" matInput placeholder="Título" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description Task requireted</mat-label>
          <input formControlName="description" matInput placeholder="Descrição da Tarefa" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Date Completion Task requireted</mat-label>
          <input type="date" formControlName="dateCompletion" matInput placeholder="Descrição da Tarefa" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Category Tasks</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid"
          color="primary">
          Add
        </button>

        <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid"
          color="primary">
          Update
        </button>
      </form>
    </mat-card>
  </div>
</div>
